[Desktop Entry]
Name=Remarkable
Comment=A free, fully featured markdown editor for Linux.
Categories=Office;TextEditor;
Exec=/usr/bin/remarkable %f
Icon=/usr/share/remarkable/media/remarkable.svg
Terminal=false
Type=Application
MimeType=text/markdown;text/x-markdown;